<ng-template [ngIf]=isVisible>
    <h1 mat-dialog-title>Login</h1>
    <form [formGroup]="loginForm">
        <mat-form-field class="full-width">
            <input  matInput formControlName="login" [(ngModel)]="inputLogin">
            <mat-hint>Use e-mail or username</mat-hint>
            <mat-error *ngIf="loginForm.get('login').invalid && (loginForm.get('login').dirty || loginForm.get('login').touched)">
                <span *ngIf="loginForm.get('login').errors?.required">login is required</span>
                <span *ngIf="loginForm.get('login').errors?.serverError">
                    {{ loginForm.get('login').errors?.serverError }}
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input type="password" matInput formControlName="password"  placeholder="password" [(ngModel)]="inputPassword">
            <mat-error *ngIf="loginForm.get('password').invalid && (loginForm.get('password').dirty || loginForm.get('password').touched)">
                <span *ngIf="loginForm.get('password').errors?.minLength">min. length is 6</span>
                <span *ngIf="loginForm.get('password').hasError('required') && !loginForm.get('password').hasError('minLength')">password is required</span>
                <span *ngIf="loginForm.get('password').errors?.serverError">
                    {{ loginForm.get('password').errors?.serverError }}
                </span>
            </mat-error>
        </mat-form-field>
        <button class="full-width"
                mat-raised-button
                (click)="login()" 
                color="primary">    
            Login
        </button>
    </form>
</ng-template>



