<ng-template [ngIf]=isVisible>
    <h1 mat-dialog-title>Register</h1>
    <form [formGroup]="registerForm">

        <mat-form-field class="full-width">
            <input matInput placeholder="e-mail" formControlName="email" [errorStateMatcher]="matcher">
            <mat-error *ngIf="submitted && registerForm.get('email').invalid && (registerForm.get('email').dirty || registerForm.get('email').touched)">
                <span *ngIf="submitted && registerForm.get('email').hasError('email') && !registerForm.get('email').hasError('required')">Please enter a valid email address</span>
                <span *ngIf="submitted && registerForm.controls.email.errors?.required">email is required</span>
                <span *ngIf="registerForm.get('email').errors?.serverError">
                    {{ registerForm.get('email').errors?.serverError }}
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input matInput placeholder="username" formControlName="username" [errorStateMatcher]="matcher">
            <mat-error *ngIf="submitted && registerForm.get('username').invalid && (registerForm.get('username').dirty || registerForm.get('username').touched)">
                <span *ngIf="registerForm.get('username').errors?.required">username is required</span>
                <span *ngIf="registerForm.get('username').errors?.serverError">
                    {{ registerForm.get('username').errors?.serverError }}
                </span>
            </mat-error>
        </mat-form-field>

        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="password" formControlName="password" [errorStateMatcher]="matcher">
            <mat-error *ngIf="submitted && registerForm.get('password').invalid && (registerForm.get('password').dirty || registerForm.get('password').touched)">
                <span
                    *ngIf="submitted && !registerForm.get('password').hasError('minLength') && !this.registerForm.get('password').hasError('required')">min.
                    length is 6</span>
                <span
                    *ngIf="submitted && this.registerForm.get('password').hasError('required') && !registerForm.get('password').hasError('minLength')">password
                    is required</span>
            </mat-error>
        </mat-form-field>
        <mat-form-field class="full-width">
            <input type="password" matInput placeholder="confirm password" formControlName="confirm_password" >
            <mat-error>
                <span>password don`t match</span>
            </mat-error>
            
        </mat-form-field>
        <button class="full-width"
                mat-raised-button 
                (click)="register()"
                color="primary">
            Register
        </button>
    </form>
</ng-template>