<h1>Angular Router</h1>
<nav>
  <a routerLink="/crisis-center" routerLinkActive="active">Crisis eeCenter</a>
  <a routerLink="/heroes" routerLinkActive="active">Heroes</a>
</nav>

<app-auth-dialog></app-auth-dialog>  

<router-outlet></router-outlet>

<ng-template #template>
  <h4>Login</h4>
  <hr>
  <p>Your couch. It is mine.</p>
  <p>I'm a paragraph that lives inside of a modal.</p>
  <button class="close-button" (click)="modalRef.hide()" aria-label="Close modal" type="button">
    <span aria-hidden="true">&times;</span>
  </button>
</ng-template>