// @import "_foundation";
@import "_angular.material";
@import "_settings";

    
//* { outline: 1px solid black }

html, body { height: 100%; }
body { 
    margin: 0; 
    font-family: $font-sans-serif;
    font-weight: normal;
    font-weight: 100;
}

.full-width{
  width: 100%;
}

.footer{
    background: $darker;
    color: #fff;
    text-align: center;
}


//containers
.container{
    max-width: $max-width-container;
    margin: 0 auto;
}

.user-avatar{
    background-size: cover !important
}